<section
  class="text-white px-6 py-20 scroll-trigger animate--slide-in"
  style="
          background: rgba(0, 0, 0, 7.24);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.68) 2%, rgba(0, 0, 0, 0.65) 53%, rgba(0, 0, 0, 0.68) 98%);
  "
>
  <div class="flex px-3 items-center justify-center">
    <div class="app-card-3-grid justify-center items-center px-8 gap-8 space-y-10 max-w-[1200px]">
      <!-- Left: Text Content -->
      <div class="w-full">
        <p class="font-extrabold mb-2 text-7xl/20">{{ section.settings.title }}</p>
        <p class="text-5xl font-semibold mt-1 mb-6 uppercase" style="color: rgb(108, 104, 70);">
          {{ section.settings.sub_title }}
        </p>
        <p class="body-tactical text-foreground py-6 text-[18px]/10 md:text-[20px]/10 mb-10 leading-relaxed">
          {{ section.settings.text }}
        </p>
        {% comment %} <p class="mb-8 font-semibold">{{ section.settings.text }}</p> {% endcomment %}

        <ul class="space-y-6 mb-10">
          {% for block in section.blocks %}
            <li class="flex items-start gap-y-3 gap-x-6">
              <span class="text-4xl mt-1" style="color:{{ section.settings.secondary_color }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512">
                  <path fill="currentColor" d="M17.47 250.9C88.82 328.1 158 397.6 224.5 485.5c72.3-143.8 146.3-288.1 268.4-444.37L460 26.06C356.9 135.4 276.8 238.9 207.2 361.9c-48.4-43.6-126.62-105.3-174.38-137z"/>
                </svg>
              </span>
              <div>
                <h4 class="heading-tactical text-3xl font-bold tracking-wide" style="color: rgb(182, 166, 135);">
                  {{ block.settings.title }}
                </h4>
                <p class="mt-2">{{ block.settings.text }}</p>
              </div>
            </li>
          {% endfor %}
        </ul>
        {% if section.settings.button_text != blank %}
          <a
            href="{{ section.settings.button_url }}"
            class="inline-flex items-center justify-center uppercase gap-2 whitespace-nowrap font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 bg-primary text-primary-foreground hover:bg-primary/90 btn-olive-outline cta-tactical px-8 py-1 text-[16px] rounded-sm"
          >
            See additional use cases
          </a>
        {% endif %}
      </div>

      <!-- Right: Image -->
      {% if section.settings.side_image != blank %}
        <div class="">
          <img
            src="{{ section.settings.side_image | image_url}}"
            alt="banner Image size-full"
            class="rounded-lg"
            width="100%"
            height="100%"
          >
        </div>
      {% endif %}
    </div>
  </div>
</section>

<style>
  .app-card-3-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Default: 1 column */
  }

  @media (min-width: 640px) {
    .app-card-3-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
    }
  }
</style>

{% schema %}
{
  "name": "Operation Card",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Card Title",
      "default": "Sample Card Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Card Sub Title",
      "default": "Sample Card Sub Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Card Text",
      "default": "Sample Card Text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Click Me"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Url"
    },
    {
      "type": "image_picker",
      "id": "side_image",
      "label": "Side Image"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Primary Color",
      "default": "#262626"
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary Color",
      "default": "#B6AC87"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary Color",
      "default": "#7B0F23"
    },
    {
      "type": "color",
      "id": "tertiary_color",
      "label": "tertiary Color",
      "default": "#6C6846"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "card",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Block Title",
          "default": "Sample Block Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Block Text",
          "default": "Sample Block Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Operation Card",
      "category": "Custom"
    }
  ]
}
{% endschema %}
