<section
  class="relative py-20 px-6 scroll-fade-in visible"
  style="
          background: rgba(0, 0, 0, 7.24);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.74) 2%, rgba(0, 0, 0, 0.50) 53%, rgba(0, 0, 0, 0.74) 98%);
  "
>
  <div class="max-w-7xl mx-auto">
    <div class="text-center mb-16">
      <div class="mb-6">
        <h2 class="heading-tactical text-[36px] uppercase font-bold md:text-[48px] text-white">
          {{ section.settings.card_title }}
        </h2>
        <h3
          class="subheading-tactical uppercase -mt-6 font-semibold text-[24px] md:text-[30px]"
          style="color: rgb(108, 104, 70);"
        >
          {{ section.settings.card_sub_title }}
        </h3>
      </div>
      <p class="body-tactical text-secondary font-semibold text-[16px]/8 max-w-6xl mx-auto">
        {{ section.settings.text }}
      </p>
    </div>
    <div class="grid-tactical max-w-7xl mx-auto">
      {% for block in section.blocks %}
        {% if block.type == 'card' %}
          <div class="bg-black/55 p-6 rounded-lg text-center border-2" style="border-color: rgb(108, 104, 70);">
            {% if block.settings.image %}
              <img
                src="{{ block.settings.image | image_url  }}"
                alt="{{ block.settings.title }}"
                class="w-full h-20 object-contain rounded mb-8"
                width="50"
                height="50"
              >
            {% endif %}
            <h3 class="subheading-tactical text-white uppercase font-semibold text-[20px] mb-10 h-16 flex items-center justify-center">
              {{ block.settings.title }}
            </h3>
            <p class="body-tactical text-white font-thin text-[14px]/8">
              {{ block.settings.text }}
            </p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<style>
  .card {
    background-image: url('{{ section.settings.background_image | image_url: width: 1600 }}');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .app-card-2-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 640px) {
    .app-card-2-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 768px) {
    .app-card-2-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>

{% schema %}
{
  "name": "Three Cols Card",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "card_title",
      "label": "Card Title",
      "default": "Card Title"
    },
    {
      "type": "text",
      "id": "card_sub_title",
      "label": "Card Sub Title",
      "default": "Card Sub Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Card Text",
      "default": "Card Text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "See More"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "options": [
        {
          "value": "fill",
          "label": "Filled"
        },
        {
          "value": "outline",
          "label": "Outline"
        }
      ],
      "default": "outline"
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary Color",
      "default": "#AFA38E"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary Color",
      "default": "#7B0F23"
    },
    {
      "type": "color",
      "id": "tertiary_color",
      "label": "tertiary Color",
      "default": "#695e49"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ],

  "blocks": [
    {
      "type": "card",
      "name": "card",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Card Title",
          "default": "Sample Card Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Card text",
          "default": "This is the description for this card."
        },
        {
          "type": "text",
          "id": "badge",
          "label": "Card Badge",
          "default": "1"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Card Icon"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#0d0d0d"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Three Cols Card",
      "category": "Custom"
    }
  ]
}
{% endschema %}
