<section
  class="py-20 bg-muted/10"
  style="
          background: rgba(0, 0, 0, 7.24);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.76) 2%, rgba(0, 0, 0, 0.73) 53%, rgba(0, 0, 0, 0.76) 98%);
  "
>
  <div class="mx-auto px-4  transition-all scroll-trigger animate--slide-in duration-1000 delay-200">
    <div class="max-w-[1200px] mx-auto">
      <p class="text-6xl font-bold text-signal-white text-center mb-16">{{ section.settings.title }}</p>
      <div class="card-grid gap-12 mb-16 w-full">
        <div
          class="border text-card-foreground shadow-sm rounded-[12px] transition-all duration-700 delay-500 opacity-100 translate-x-0"
          style="background-color: rgba(153, 153, 153, 0.1);"
        >
          <div class="p-8">
            <p class="text-4xl font-extrabold text-signal-white mb-6">{{ section.settings.left_title }}</p>
            <div class="space-y-5 text-signal-white">
              <p class="text-desert-tan font-semibold" style="color:{{ section.settings.primary_color }}">
                {{ section.settings.left_sub_title }}
              </p>
              <div class="text-white space-y-6">
                {% for block in section.blocks %}
                  {% if block.type == 'left_option' %}
                    <div class="flex items-start space-x-3">
                      <svg
                        style="color:{{ section.settings.secondary_color }}"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-circle-check-big size-8 text-scarlet mt-1 flex-shrink-0"
                      >
                        <path d="M21.801 10A10 10 0 1 1 17 3.335"></path><path d="m9 11 3 3L22 4"></path>
                      </svg>
                      <p>{{ block.settings.text }}</p>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div
          class="border text-card-foreground shadow-sm bg-desert-tan/10 border-desert-tan/30 rounded-[12px] transition-all duration-700 delay-700 opacity-100 translate-x-0"
          style="background-color: rgba(153, 153, 153, 0.1);"
        >
          <div class="p-8">
            <p class="text-4xl font-bold text-signal-white mb-6">{{ section.settings.Right_title }}</p>
            <div class="space-y-4 text-signal-white">
              <p class="font-semibold text-desert-tan" style="color:{{ section.settings.primary_color }}">
                {{ section.settings.right_sub_title }}
              </p>
              {% for block in section.blocks %}
                {% if block.type == 'right_option' %}
                  {% if block.settings.show_bg %}
                    <div
                      class="p-4 rounded-[8px] mt-4 text-white"
                      style="background-color: rgba(0, 0, 0, 0.1);"
                    >
                      <p class="text-signal-white">
                        {{ block.settings.text }}
                      </p>
                    </div>
                  {% else %}
                    <p class="text-white">
                      {{ block.settings.text }}
                    </p>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div
        class="border text-card-foreground py-8 shadow-sm bg-scarlet/10 border-scarlet/30 rounded-[12px] transition-all duration-700 delay-900 opacity-100 translate-y-0"
        style="background-color: rgba(123, 15, 35, 0.1); border-color:rgba(123, 15, 35, 0.3);"
      >
        <div class="p-8">
          <p class="text-4xl font-bold text-signal-white text-center mb-8">
            {{ section.settings.bottom_sub_title }}
          </p>
          <div class="child-card-grid gap-8">
            {% for block in section.blocks %}
              {% if block.type == 'bottom_option' %}
                <div class="text-center space-y-4">
                  {% if block.settings.card_icon %}
                    <div
                      class=" rounded-[8px] mx-auto w-28 flex items-center p-6 mb-8 justify-center"
                      style="background-color:{{ section.settings.secondary_color }}"
                    >
                      <img
                        src="{{ block.settings.card_icon | image_url  }}"
                        alt="icon"
                        class="size-[32px] object-contain rounded-[2px]"
                        width="32"
                        height="32"
                      >
                    </div>
                  {% endif %}
                  <p class="font-bold text-[17px]" style="color: rgb(182, 166, 135);">{{ block.settings.title }}</p>
                  <p class="text-signal-white text-[14px]/7 ">{{ block.settings.text }}</p>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .card-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  .child-card-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 640px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .child-card-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  }
</style>

{% schema %}
{
  "name": "Procurement Card",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Section Title"
    },
    {
      "type": "text",
      "id": "left_title",
      "label": "Left Card Title",
      "default": "Left Card Title"
    },
    {
      "type": "text",
      "id": "left_sub_title",
      "label": "Left Card Sub Title",
      "default": "Left Card Sub Title"
    },
    {
      "type": "text",
      "id": "Right_title",
      "label": "Right Card Title",
      "default": "Right Card Title"
    },
    {
      "type": "text",
      "id": "right_sub_title",
      "label": "Right Card Sub Title",
      "default": "Right Card Sub Title"
    },
    {
      "type": "text",
      "id": "bottom_sub_title",
      "label": "Bottom Card Sub Title",
      "default": "Bottom Card Sub Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Card Text",
      "default": "Card Text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "See More"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "options": [
        {
          "value": "fill",
          "label": "Filled"
        },
        {
          "value": "outline",
          "label": "Outline"
        }
      ],
      "default": "outline"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#0d0d0d"
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary Color",
      "default": "#AFA38E"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary Color",
      "default": "#7B0F23"
    }
  ],

  "blocks": [
    {
      "type": "left_option",
      "name": "Left Option",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Option",
          "default": "Default Option"
        }
      ]
    },
    {
      "type": "right_option",
      "name": "Right Text",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text Body",
          "default": "Text Body"
        },
        {
          "type": "checkbox",
          "id": "show_bg",
          "label": "Show Text Bg",
          "default": true
        }
      ]
    },
    {
      "type": "bottom_option",
      "name": "Bottom Lists",
      "settings": [
        {
          "type": "image_picker",
          "id": "card_icon",
          "label": "Text Body"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Sample Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Procurement Card",
      "category": "How to buy Card"
    }
  ]
}
{% endschema %}
