<section
  class="relative page-banner bg-cover bg-center text-white mt-20 page-card"
  style="min-height: {{ section.settings.banner_height }}px;"
>
  <div
    class="bg-black/70 flex items-center justify-center px-6 text-center"
    style="min-height: {{ section.settings.banner_height }}px;"
  >
    <div
      class=" transition-all scroll-trigger animate--slide-in duration-1000 delay-200"
    >
      <div class="max-w-7xl scape-y-3 mx-auto text-center">
        {% if section.settings.small_title != blank %}
          <h1 class="heading-tactical text-white text-[30px] uppercase font-semibold md:text-[36px] mb-4 leading-tight">
            {{ section.settings.small_title }}
          </h1>
        {% endif %}
        {% if section.settings.scsub_title != blank %}
          <h2 class="subheading-tactical text-secondary uppercase font-semibold text-[20px] md:text-[24px] mb-8">
            {{ section.settings.scsub_title }}
          </h2>
        {% endif %}
        {% if section.settings.small_text != blank %}
          <p class="body-tactical text-signal-white text-[18px] mb-12 max-w-6xl mx-auto">
            {{ section.settings.small_text }}
          </p>
        {% endif %}
        {% if section.settings.title != blank %}
          <h1 class="text-[48px]/20 font-bold text-signal-white mb-8 leading-tight md:text-[48px]/20">
            {{ section.settings.title }}
          </h1>
        {% endif %}
        {% if section.settings.ctitle != blank %}
          <h1 class="text-[48px]/20 font-bold text-olive-drab mb-8 leading-tight md:text-[48px]/20">
            {{ section.settings.ctitle }}
          </h1>
        {% endif %}
        <p class="text-[20px]/10 md:text-[24px]/12 text-signal-white mb-12 leading-relaxed max-w-6xl mx-auto">
          {{ section.settings.text }}
        </p>
        <p class="text-[20px] text-desert-tan leading-relaxed max-w-6xl mx-auto mb-10">
          {{ section.settings.ctext }}
        </p>

        <div class="flex gap-4 w-full justify-center items-center mx-auto">
          {% for block in section.blocks %}
            {% render 'button',
              secondary_color: section.settings.secondary_color,
              primary_color: section.settings.primary_color,
              button_text: block.settings.button_text,
              button_url: block.settings.button_url,
              type: block.settings.button_type,
              showArrow: block.settings.show_arrow
            %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% comment %}
      <div class="max-w-7xl space-y-6">
        <p class="md:text-[72px]/20 text-[40px]/20 font-bold leading-tight">
          {{ section.settings.btitle }}
        </p>
        <p class="md:text-[48px]/20 text-[40px]/20 font-bold leading-tight">
          {{ section.settings.title }}
        </p>
        <p class="md:text-[40px]/20 text-[35px]/20 font-bold leading-tight">
          {{ section.settings.sub_title }}
        </p>
        <p class="md:text-[48px]/20 text-[#9d9580] text-[40px]/20 font-bold leading-tight">
          {{ section.settings.ctitle }}
        </p>
        {% if section.settings.text != blank %}
          <p class="text-4xl">{{ section.settings.text }}</p>
        {% endif %}
        {% if section.settings.ctext != blank %}
          <p class="text-4xl text-[#afa38e]">{{ section.settings.ctext }}</p>
        {% endif %}
        <div class="flex gap-4 w-full justify-center items-center mx-auto">
          {% for block in section.blocks %}
            {% render 'button',
              secondary_color: section.settings.secondary_color,
              primary_color: section.settings.primary_color,
              button_text: block.settings.button_text,
              button_url: block.settings.button_url,
              type: block.settings.button_type,
              showArrow: block.settings.show_arrow
            %}
          {% endfor %}
        </div>
      </div>
    {% endcomment %}
  </div>
</section>

{{ page.content }}

<style>
  .page-banner {
    background-image: url('{{ section.settings.background_image | image_url: width: 1600 }}');
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: 640px) {
      background-size: 130%;
    }
  }
</style>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "banner_height",
      "label": "Section Height",
      "options": [
        { "label": "Small", "value": "300" },
        { "label": "Medium", "value": "440" },
        { "label": "Large", "value": "640" },
        { "label": "Extra Large", "value": "800" }
      ],
      "default": "440"
    },
    {
      "type": "text",
      "id": "btitle",
      "label": "Bigger Banner Title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Banner Title",
      "default": "Banner Title"
    },
    {
      "type": "text",
      "id": "small_title",
      "label": "Small Banner Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Banner Sub Title"
    },
    {
      "type": "text",
      "id": "scsub_title",
      "label": "Banner Sub Title"
    },
    {
      "type": "text",
      "id": "small_text",
      "label": "Banner Small Text"
    },
    {
      "type": "text",
      "id": "ctitle",
      "label": "Coloured Banner Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Banner Text"
    },
    {
      "type": "text",
      "id": "ctext",
      "label": "Colored Banner Text"
    },

    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary Color",
      "default": "#B6AC87"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary Color",
      "default": "#7B0F23"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Banner Background Image"
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button  Text",
          "default": "Button  Text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Url"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Button Type",
          "options": [
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "fill",
              "label": "Fill"
            },
            {
              "value": "secondary_fill",
              "label": "Secondary Fill"
            },
            {
              "value": "secondary_outline",
              "label": "Secondary Outline"
            }
          ],
          "default": "fill"
        },
        {
          "type": "checkbox",
          "id": "show_arrow",
          "label": "Show Arrow",
          "default": false
        }
      ]
    }
  ]
}
{% endschema %}
