{% comment %} class="color-{{ section.settings.header_color }} px-6 py-4 flex justify-between items-center font-medium" {% endcomment %}
<header
  class="px-6 py-4 fixed justify-between w-full items-center font-medium"
  style="color:{{ section.settings.secondary_color }}; background-color:{{ section.settings.primary_color }}; justify-content:center"
>
  <div class="w-full flex item-center justify-center">
    <div class="flex items-center w-full self-center justify-between max-w-[1200px]">
      <div class="">
        {%- if section.settings.logo_position != 'middle-center' -%}
          {%- if request.page_type == 'index' -%}
            <h1 class="header__heading">
          {%- endif -%}
          <a
            href="{{ routes.root_url }}"
            class="header__heading-link link link--text focus-inset"
          >
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{
                  settings.logo
                  | image_url: width: 600
                  | image_tag:
                    class: 'header__heading-logo motion-reduce',
                    widths: widths,
                    height: logo_height,
                    width: settings.logo_width,
                    alt: logo_alt,
                    sizes: sizes,
                    preload: true
                }}
              </div>
            {%- else -%}
              <span
                class="h2"
              >
                {{- shop.name -}}
              </span>
            {%- endif -%}
          </a>
          {%- if request.page_type == 'index' -%}
            </h1>
          {%- endif -%}
        {%- endif -%}
      </div>

      <!-- Navigation -->
      <nav class="relative computer-nav text-[14px] font-bold space-x-6 uppercase">
        {% assign menu = linklists[section.settings.menu] %}
        {% if menu.links != blank %}
          {% for link in menu.links %}
            {% assign is_first = forloop.first %}
            {% if link.links != blank %}
              <div class="mother">
                <a
                  href="{{ link.url }}"
                  class="cursor-pointer uppercase transition-colors duration-150"
                  onmouseover="this.style.color='{{ section.settings.tertiary_color }}'"
                  onmouseout="this.style.color=''"
                >
                  {{ link.title }} ▾
                </a>
                <div
                  class="absolute child border-[0.0000002vw] mt-2 min-w-96 z-50"
                  style="background-color:{{ section.settings.primary_color }}"
                >
                  <ul class="space-y-2 py-6 px-4 font-normal capitalize">
                    {% for subLink in link.links %}
                      <li>
                        <a
                          href="{{subLink.url }}"
                          class="cursor-pointer transition-colors duration-150"
                          onmouseover="this.style.color='{{ section.settings.tertiary_color }}'"
                          onmouseout="this.style.color=''"
                        >
                          {{- subLink.title -}}
                        </a>
                      </li>
                    {% endfor %}
                    {% if is_first %}
                      {% assign page = linklists[section.settings.page_menu] %}
                      {% if page.links != blank %}
                        <li class="border-t my-2"></li>
                        {% for page in page.links %}
                          <li>
                            <a
                              href="{{page.url }}"
                              class="cursor-pointer transition-colors duration-150"
                              onmouseover="this.style.color='{{ section.settings.tertiary_color }}'"
                              onmouseout="this.style.color=''"
                            >
                              {{- page.title -}}
                            </a>
                          </li>
                        {% endfor %}
                      {% endif %}
                    {% endif %}
                  </ul>
                </div>
              </div>
            {% else %}
              <a
                href="{{link.url}}"
                class="cursor-pointer transition-colors duration-150"
                onmouseover="this.style.color='{{ section.settings.tertiary_color }}'"
                onmouseout="this.style.color=''"
              >
                {{- link.title -}}
              </a>
            {% endif %}
          {% endfor %}
        {% endif %}
      </nav>

      <!-- Icons and CTA -->
      <div class="flex items-center gap-4 ">
        <div class="computer-nav header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
          <div class="desktop-localization-wrapper">
            {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
              <localization-form class="small-hide medium-hide" data-prevent-hide>
                {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
                  <div>
                    <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                    {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
                  </div>
                {%- endform -%}
              </localization-form>
            {% endif %}

            {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
              <localization-form class="small-hide medium-hide" data-prevent-hide>
                {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
                  <div>
                    <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                    {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
                  </div>
                {%- endform -%}
              </localization-form>
            {%- endif -%}
          </div>
          {% render 'header-search', input_id: 'Search-In-Modal' %}

          {%- if shop.customer_accounts_enabled -%}
            <a
              href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
              class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
              rel="nofollow"
            >
              {%- if section.settings.enable_customer_avatar -%}
                <account-icon>
                  {%- if customer and customer.has_avatar? -%}
                    {{ customer | avatar }}
                  {%- else -%}
                    <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
                  {%- endif -%}
                </account-icon>
              {%- else -%}
                <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
              {%- endif -%}
              <span class="visually-hidden">
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </span>
            </a>
          {%- endif -%}

          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
            {%- endcase -%}
          {%- endfor -%}

          <a
            href="{{ routes.cart_url }}"
            class="header__icon header__icon--cart link focus-inset"
            id="cart-icon-bubble"
          >
            {% if cart == empty %}
              <span class="svg-wrapper">{{ 'icon-cart-empty.svg' | inline_asset_content }}</span>
            {% else %}
              <span class="svg-wrapper">{{ 'icon-cart.svg' | inline_asset_content }}</span>
            {% endif %}
            <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
            {%- if cart != empty -%}
              <div class="cart-count-bubble">
                {%- if cart.item_count < 100 -%}
                  <span aria-hidden="true">{{ cart.item_count }}</span>
                {%- endif -%}
                <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
              </div>
            {%- endif -%}
          </a>
        </div>
        <a
          href="#"
          class="text-white font-semibold  px-4 py-2 rounded transition-transform duration-300 hover:-translate-y-0.5"
          style="background-color:{{ section.settings.tertiary_color }}"
        >
          CONTACT US
        </a>
        <div class="mobile-nav" id="hamburgerToggle">
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 17h14M5 12h14M5 7h14"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</header>
<!--
  <div
    id="customMobileMenu"
    class="absolute top-0 right-0 w-3/4 h-full bottom-0 max-w-sm bg-white shadow-lg transition-transform duration-300 z-50 "
    style="background-color:white"
  >
    <div class="p-4">
      <p>This is the mobile menu content</p>
    </div>
  </div>
-->

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var toggleBtn = document.getElementById('hamburgerToggle');
    var menu = document.getElementById('customMobileMenu');

    toggleBtn.addEventListener('click', function () {
      if (menu.classList.contains('slide-out')) {
        menu.classList.remove('slide-out');
        menu.classList.add('slide-in');
      } else {
        menu.classList.add('slide-out');
        menu.classList.remove('slide-in');
      }
    });
  });
</script>

<style>
  .mother .child {
    display: none;
  }
  .mother:hover .child {
    display: block;
  }

  .computer-nav {
    display: none;
  }

  @media (min-width: 768px) {
    .computer-nav {
      display: flex;
    }
  }
  .mobile-nav {
    display: block;
  }

  @media (min-width: 768px) {
    .mobile-nav {
      display: none;
    }
  }

  /* #customMobileMenu {
    transform: translateX(-100%); 
  }

  .slide-out {
    transform: translateX(100%);
  }

  .slide-in {
    transform: translateX(0);
  } */
</style>

{% schema %}
{
  "name": "App Header",
  "tag": "header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Product Menu"
    },
    {
      "type": "link_list",
      "id": "page_menu",
      "label": "Page Menu"
    },
    {
      "type": "color_scheme",
      "id": "header_color",
      "label": "Header Color"
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary Color",
      "default": "#0d0d0d"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary Color",
      "default": "#AFA38E"
    },
    {
      "type": "color",
      "id": "tertiary_color",
      "label": "Tertiary Color",
      "default": "#7B0F23"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "App Header",
      "category": "Header"
    }
  ]
}
{% endschema %}
