<section
  class=" py-20 text-center scroll-trigger animate--slide-in card object-cover"
  style="
          background: rgba(0, 0, 0, 7.24);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 2%, rgba(0, 0, 0, 0.68) 53%, rgba(0, 0, 0, 0.80) 98%);
  "
>
  <!-- Section Title -->
  <div class="max-w-[1100px] mx-auto">
    <div class="mx-auto mb-12 px-8">
      <p class="text-[48px]/20 font-extrabold uppercase">{{ section.settings.card_title }}</p>
      <p
        class="text-[32px]/20 text-gray-300 font-semibold mt-2 mb-4 tracking-wide uppercase"
        style="color:{{section.settings.tertiary_color }}"
      >
        {{ section.settings.card_sub_title }}
      </p>
      <p
        class="text-[22px] tracking-wide"
        style="color:{{section.settings.primary_color }}"
      >
        {{ section.settings.text }}
      </p>
    </div>

    <!-- Cards -->
    <div class="w-full flex items-center px-12 md:px-4 mb-10" style="min-height: 356px">
      <div class="app-card-15-grid gap-10 w-full mx-auto px-4">
        {% for block in section.blocks %}
          {% if block.type == 'card' %}
            <!-- Card 1 -->
            <div
              class="border p-6 hover:shadow-lg item-card15 min-h-83 flex items-center justify-center flex-col relative bg-[#0d0d0d7a]"
            >
              {% if block.settings.image %}
                <img
                  src="{{ block.settings.image | image_url  }}"
                  alt="{{ block.settings.title }}"
                  class="w-full object-contain rounded-[2px] mb-4"
                  style="width:128px; height:128px"
                  width="128"
                  height="128"
                >
              {% endif %}

              {% if collection %}
                <p class="font-bold text-4xl uppercase mb-6">{{ collections[collection].title }}</p>
                <p class="text-2xl">{{ collections[collection].description | truncatewords: 20 }}</p>

                <a
                  href="{{ collections[collection].url }}"
                  class="mt-4 inline-block text-xl underline text-white"
                  style="color: {{ section.settings.secondary_color }}"
                >
                  View Products →
                </a>
              {% else %}
                <p class="font-bold text-4xl uppercase mb-6">{{ block.settings.title }}</p>
                <p class="text-2xl">{{ block.settings.text }}</p>
              {% endif %}
              {% if block.settings.badge != blank %}
                <div
                  class="absolute size-18 rounded-full -top-8 -left-8 flex items-center justify-center text-4xl font-semibold z-20"
                  style="background-color:{{ section.settings.secondary_color }}"
                >
                  {{ block.settings.badge }}
                </div>
              {% endif %}

              <a
                href="{{block.settings.button_url }}"
                class="inline-flex w-11/12 py-8 font-semibold my-10 items-center justify-center gap-2 whitespace-nowrap rounded-[6px] text-2xl ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 btn-olive-outline"
                style="background-color:{{ section.settings.primary_color }}"
              >
                VIEW {{ block.settings.title | upcase }}
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% if section.settings.button_text != blank %}
      <div class="w-full flex justify-center">
        {% if section.settings.button_style == 'outline' %}
          <a
            href="{{ section.settings.button_url }}"
            class="text-white px-4 py-2 text-4xl border-2 bg-black transition-color duration-150"
            style="border-color:{{ section.settings.secondary_color }}"
            onmouseover="this.style.backgroundColor='{{ section.settings.secondary_color }}'"
            onmouseout="this.style.backgroundColor=''"
            *
          >
            {{ section.settings.button_text }}
          </a>
        {% else %}
          <a
            href="{{ section.settings.button_url }}"
            class="text-white px-4 py-2 text-4xl transition-transform duration-150 hover:-translate-y-0.5"
            style="background-color:{{ section.settings.primary_color }}"
          >
            {{ section.settings.button_text }}
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</section>

<style>
  .item-card15{
    border-color:{{section.settings.primary_color }}
  }
  .item-card15:hover{
    border-color:{{section.settings.secondary_color }}
  }
  .card {
    background-image: url('{{ section.settings.background_image | image_url: width: 1600 }}');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .app-card-15-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 640px) {
    .app-card-15-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>

{% schema %}
{
  "name": "Three Cols Card",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "card_title",
      "label": "Card Title",
      "default": "Card Title"
    },
    {
      "type": "text",
      "id": "card_sub_title",
      "label": "Card Sub Title",
      "default": "Card Sub Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Card Text",
      "default": "Card Text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "See More"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "options": [
        {
          "value": "fill",
          "label": "Filled"
        },
        {
          "value": "outline",
          "label": "Outline"
        }
      ],
      "default": "outline"
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary Color",
      "default": "#AFA38E"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary Color",
      "default": "#7B0F23"
    },
    {
      "type": "color",
      "id": "tertiary_color",
      "label": "tertiary Color",
      "default": "#695e49"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ],

  "blocks": [
    {
      "type": "card",
      "name": "card",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Card Title",
          "default": "Sample Card Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Card text",
          "default": "This is the description for this card."
        },
        {
          "type": "text",
          "id": "badge",
          "label": "Card Badge",
          "default": "1"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Card Icon"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#0d0d0d"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Text"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Product Category (Collection)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Three Cols Card",
      "category": "Product Card"
    }
  ]
}
{% endschema %}
