<section class="py-20 text-white" style="background-color:{{ section.settings.background_color }}">
  <div class="container mx-auto px-4">
    <div class="max-w-7xl mx-auto text-center space-y-8">
      <p
        class="lg:text-[48px]/20 text-[40px]/20 font-bold leading-tight uppercase"
        style="color:{{ section.settings.primary_color }}"
      >
        {{ section.settings.title }}
      </p>
      <p class="text-3xl leading-relaxed text-white">
        {{ section.settings.text }}
      </p>
      <div class="flex gap-4 w-full justify-center items-center mx-auto">
        {% for block in section.blocks %}
          {% if block.settings.button_type == 'fill' %}
            <a
              href="{{block.setting.button_url }}"
              class="gap-2 px-8 py-2 whitespace-nowrap rounded-md"
              style="background-color:{{ section.settings.primary_color }}"
            >
              {{ block.settings.button_text }}
            </a>
          {% else %}
            <a
              href="{{ block.settings.buttom_url }}"
              class="border px-8 py-2 gap-2 whitespace-nowrap rounded-md"
              style="border-color:{{ section.settings.primary_color }}"
              onmouseover="this.style.backgroundColor='{{ section.settings.primary_color }}'"
              onmouseout="this.style.backgroundColor=''"
            >
              {{ block.settings.button_text }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<style>
  .banner {
    background-image: url('{{ section.settings.background_image | image_url: width: 1600 }}');
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: 640px) {
      background-size: 130%;
    }
  }
</style>

{% schema %}
{
  "name": "Full width Card",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#0d0d0d"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Banner Title",
      "default": "Banner Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Banner Text",
      "default": "Banner Text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Url"
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary Color",
      "default": "#B6AC87"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary Color",
      "default": "#7B0F23"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button  Text",
          "default": "Button  Text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Url"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Button Type",
          "options": [
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "fill",
              "label": "Fill"
            }
          ],
          "default": "fill"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Full With Card",
      "category": "Custom"
    }
  ]
}
{% endschema %}
