<section
  class="relative py-32 px-6 scroll-fade-in visible font-sans text-center flex items-center justify-center flex-col text-signal-white object-cover"
  style="background-image: url('{{ "site-banner-bg.png" | asset_url }}'); background-size: cover; background-position: center center; background-repeat: no-repeat;"
>
  <div class="absolute inset-0 bg-[rgba(0,0,0,0.8)] bg-blend-color-darken"><p></p></div>
  <div class="container mx-auto px-4  transition-all scroll-trigger animate--slide-in duration-1000 delay-200">
    <div class="max-w-[1100px] mx-auto text-center space-y-8">
      {% if section.settings.title != blank %}
        <p
          class="lg:text-[44px]/20 text-[40px]/20 font-bold leading-tight uppercase"
          style="color:{{ section.settings.primary_color }}"
        >
          {{ section.settings.title }}
        </p>
      {% endif %}
      {% if section.settings.qtitle != blank %}
        <h2 class="text-[36px]/10 font-bold text-signal-white mb-8">{{ section.settings.qtitle }}</h2>
      {% endif %}
      {% if section.settings.sub_title != blank %}
        <p
          class="text-[24px]/20 font-bold leading-tight uppercase text-[#a59f91]"
        >
          {{ section.settings.sub_title }}
        </p>
      {% endif %}
      {% if section.settings.ctitle != blank %}
        <p
          class="lg:text-[44px]/20 text-[40px]/20 font-bold leading-tight uppercase text-white"
        >
          {{ section.settings.ctitle }}
        </p>
      {% endif %}
      {% if section.settings.ctext != blank %}
        <p class="text-[20px] text-desert-tan leading-relaxed font-medium mb-10">{{ section.settings.ctext }}</p>
      {% endif %}
      {% if section.settings.text != blank %}
        <p class="text-[20px] text-signal-white leading-relaxed font-medium mb-10">{{ section.settings.text }}</p>
      {% endif %}
      <div class="flex gap-4 w-full justify-center items-center mx-auto">
        {% for block in section.blocks %}
          {% render 'button',
            secondary_color: section.settings.secondary_color,
            primary_color: section.settings.primary_color,
            button_text: block.settings.button_text,
            button_url: block.settings.button_url,
            type: block.settings.button_type,
            showArrow: block.settings.show_arrow,
            isBlack: true
          %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<style>
  .banner {
    background-image: url('{{ section.settings.background_image | image_url: width: 1600 }}');
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: 640px) {
      background-size: 130%;
    }
  }
</style>

{% schema %}
{
  "name": "Full width Card",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#0d0d0dd7"
    },
    {
      "type": "text",
      "id": "ctitle",
      "label": "White Banner Title",
      "default": "Banner Title"
    },
    {
      "type": "text",
      "id": "qtitle",
      "label": "Question Title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Banner Title",
      "default": "Banner Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Banner Sub Title",
      "default": "Banner Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Banner Text",
      "default": "Banner Text"
    },
    {
      "type": "text",
      "id": "ctext",
      "label": "Coloured Banner Text",
      "default": "Banner Text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Url"
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary Color",
      "default": "#B6AC87"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary Color",
      "default": "#7B0F23"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button  Text",
          "default": "Button  Text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Url"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Button Type",
          "options": [
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "fill",
              "label": "Fill"
            },
            {
              "value": "secondary_fill",
              "label": "Secondary Fill"
            },
            {
              "value": "secondary_outline",
              "label": "Secondary Outline"
            }
          ],
          "default": "fill"
        },
        {
          "type": "checkbox",
          "id": "show_arrow",
          "label": "Show Arrow",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Full Width Card",
      "category": "Custom"
    }
  ]
}
{% endschema %}
