<section
  class="py-20 relative scroll-trigger animate--slide-in transition-all duration-1000 delay-400 opacity-100 translate-y-0 bg-black"
>
  <div class="container mx-auto px-4">
    <div class="max-w-6xl mx-auto">
      <div class="mb-16" data-selected="true" data-label-id="0">
        <p class="text-6xl font-bold text-center mb-12">{{ section.settings.title1 }}</p>
        <div class="border text-card-foreground shadow-sm bg-muted/20 border-desert-tan/30 rounded-xl max-w-4xl mx-auto">
          <div class="p-8 space-y-6">
            <div class="flex items-center space-x-4">
              <svg
                style="color:{{ section.settings.secondary_color }}"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-droplets size-6 text-scarlet mt-1 flex-shrink-0"
              >
                <path d="M7 16.3c2.2 0 4-1.83 4-4.05 0-1.16-.57-2.26-1.71-3.19S7.29 6.75 7 5.3c-.29 1.45-1.14 2.84-2.29 3.76S3 11.1 3 12.25c0 2.22 1.8 4.05 4 4.05z"></path><path d="M12.56 6.6A10.97 10.97 0 0 0 14 3.02c.5 2.5 2 4.9 4 6.5s3 3.5 3 5.5a6.98 6.98 0 0 1-11.91 4.97"></path>
              </svg>
              <p class="text-3xl text-white">{{ section.settings.top_text1 }}</p>
            </div>
            <div class="flex items-start space-x-4">
              <svg
                style="color:{{ section.settings.secondary_color }}"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-circle-alert size-6 text-scarlet mt-1 flex-shrink-0"
              >
                <circle cx="12" cy="12" r="10"></circle><line x1="12" x2="12" y1="8" y2="12"></line><line x1="12" x2="12.01" y1="16" y2="16"></line>
              </svg>
              <p class="text-3xl text-white">{{ section.settings.top_text2 }}</p>
            </div>
            <div class="flex items-start space-x-4">
              <svg
                style="color:{{ section.settings.secondary_color }}"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-store aize-6 text-scarlet mt-1 flex-shrink-0"
              >
                <path d="m2 7 4.41-4.41A2 2 0 0 1 7.83 2h8.34a2 2 0 0 1 1.42.59L22 7"></path><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path><path d="M15 22v-4a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v4"></path><path d="M2 7h20"></path><path d="M22 7v3a2 2 0 0 1-2 2a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 16 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 12 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 8 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 4 12a2 2 0 0 1-2-2V7"></path>
              </svg>
              <p class="text-3xl text-white">{{ section.settings.top_text3 }}</p>
            </div>
          </div>
        </div>
      </div>
      <div data-measuring="true">
        <p class="text-6xl font-bold text-olive-drab text-center mb-12">{{ section.settings.title2 }}</p>
        <div class="border text-card-foreground shadow-sm bg-muted/20 border-desert-tan/30 rounded-xl max-w-4xl mx-auto">
          <div class="p-8 space-y-6">
            <div class="flex items-start space-x-4">
              <svg
                style="color:{{ section.settings.secondary_color }}"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-droplets size-6 text-scarlet mt-1 flex-shrink-0"
              >
                <path d="M7 16.3c2.2 0 4-1.83 4-4.05 0-1.16-.57-2.26-1.71-3.19S7.29 6.75 7 5.3c-.29 1.45-1.14 2.84-2.29 3.76S3 11.1 3 12.25c0 2.22 1.8 4.05 4 4.05z"></path><path d="M12.56 6.6A10.97 10.97 0 0 0 14 3.02c.5 2.5 2 4.9 4 6.5s3 3.5 3 5.5a6.98 6.98 0 0 1-11.91 4.97"></path>
              </svg>
              <p class="text-3xl text-white">{{ section.settings.bottom_text1 }}</p>
            </div>
            <div class="flex items-start space-x-4">
              <svg
                style="color:{{ section.settings.secondary_color }}"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-clock size-6 text-scarlet mt-1 flex-shrink-0"
              >
                <circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline>
              </svg>
              <p class="text-3xl text-white">{{ section.settings.bottom_text2 }}</p>
            </div>
            <div class="flex items-start space-x-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                style="color:{{ section.settings.secondary_color }}"
                class="lucide lucide-circle-alert size-6 text-scarlet mt-1 flex-shrink-0"
              >
                <circle cx="12" cy="12" r="10"></circle><line x1="12" x2="12" y1="8" y2="12"></line><line x1="12" x2="12.01" y1="16" y2="16"></line>
              </svg>
              <p class="text-3xl text-white">{{ section.settings.bottom_text3 }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Daily Cleaning Card",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title1",
      "label": "Top Title",
      "default": "Top Title"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Bottom Title",
      "default": "Bottom title"
    },
    {
      "type": "text",
      "id": "top_text1",
      "label": "Top Text 1",
      "default": "Top Text 1"
    },
    {
      "type": "text",
      "id": "top_text2",
      "label": "Top Text 2",
      "default": "Top Text 2"
    },
    {
      "type": "text",
      "id": "top_text3",
      "label": "Top Text 3",
      "default": "Top Text 3"
    },
    {
      "type": "text",
      "id": "bottom_text1",
      "label": "Bottom Text 1",
      "default": "Bottom Text 1"
    },
    {
      "type": "text",
      "id": "bottom_text2",
      "label": "Bottom Text 2",
      "default": "Bottom Text 2"
    },
    {
      "type": "text",
      "id": "bottom_text3",
      "label": "Bottom Text 3",
      "default": "Bottom Text 3"
    },

    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#0d0d0d"
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary Color",
      "default": "#AFA38E"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary Color",
      "default": "#7B0F23"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ],

  "blocks": [],
  "presets": [
    {
      "name": "Daily Cleaning Card",
      "category": "instrument and care cards"
    }
  ]
}
{% endschema %}
