<section
  class="py-20 transition-all scroll-trigger animate--slide-in duration-1000 delay-700 opacity-100 translate-y-0 "
  style="
          background: rgba(0, 0, 0, 7.24);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.76) 2%, rgba(0, 0, 0, 0.70) 53%, rgba(0, 0, 0, 0.79) 98%);
  "
>
  <div class="container mx-auto px-4">
    <div class="max-w-7xl mx-auto text-center">
      <p class="text-6xl font-bold text-white mb-8">{{ section.settings.card_title }}</p>
      <p class="text-[18px] text-[#afa38e] leading-relaxed mb-10">{{ section.settings.card_sub_title }}</p>
      <div class="app-book-7-grid gap-8 mb-10">
        <div class="text-center">
          <div
            class="size-20 bg-[#7b0f23] rounded-lg mx-auto mb-4 flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-settings size-10 text-white"
            >
              <path
                d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"
              ></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
          </div>
          <p class="font-bold text-[17px] text-white mb-2">{{ section.settings.title1 }}</p>
          <p class="text-[#afa38e] text-[16px]">{{ section.settings.text1 }}</p>
        </div>
        <div class="text-center">
          <div
            class="size-20 bg-[#7b0f23] rounded-lg mx-auto mb-4 flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-target size-10 text-white"
            >
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
          </div>
          <p class="font-bold text-[17px] text-white mb-2">{{ section.settings.title2 }}</p>
          <p class="text-[#afa38e] text-[16px]">{{ section.settings.text2 }}</p>
        </div>
        <div class="text-center">
          <div
            class="size-20 bg-[#7b0f23] rounded-lg mx-auto mb-4 flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-monitor size-10 text-white"
            >
              <rect width="20" height="14" x="2" y="3" rx="2"></rect>
              <line x1="8" x2="16" y1="21" y2="21"></line>
              <line x1="12" x2="12" y1="17" y2="21"></line>
            </svg>
          </div>
          <p class="font-bold text-[17px] text-white mb-2">{{ section.settings.title3 }}</p>
          <p class="text-[#afa38e] text-[16px]">{{ section.settings.text3 }}</p>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row gap-4 justify-center mb-8">
        <a
          href="{{ section.settings.button1_url }}"
          class="inline-flex bg-[#96192b] items-center justify-center gap-2 whitespace-nowrap rounded-md ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 text-[18px] px-10 py-1 font-semibold uppercase tracking-wide text-white"
        >
          {{ section.settings.button1_text }}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-arrow-right ml-2 h-5 w-5"
          >
            <path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path>
          </svg>
        </a>
        <a
          href="{{ section.settings.button1_url }}"
          class="inline-flex items-center justify-center border gap-2 whitespace-nowrap rounded-md ring-offset-background transition-colors bg-background text-[17px] px-8 py-3 font-semibold uppercase tracking-wide border-[#695e49] text-[#695e49] hover:bg-[#695e49] hover:text-white"
        >
          {{ section.settings.button2_text }}
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  .app-book-7-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 640px) {
    .app-book-7-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>

{% schema %}
{
  "name": "Future Proof",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "card_title",
      "label": "Title",
      "default": "Ready to Protect Your Team and Future-Proof Your Mission?"
    },
    {
      "type": "text",
      "id": "card_sub_title",
      "label": "Sub Title",
      "default": "When mission success depends on equipment that personnel will actually wear, choose the scanning technology that delivers perfect fit, uncompromised safety, and unlimited potential for operational enhancement."
    },
    {
      "type": "text",
      "id": "title1",
      "label": "Title 1",
      "default": "Scanner Leasing"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text 1",
      "default": "With training programs available"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title 2",
      "default": "Proven Results"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text 2",
      "default": "Field-Tested at numerous DoD installations"
    },
    {
      "type": "text",
      "id": "title3",
      "label": "Title 3",
      "default": "Best Value"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Text 3",
      "default": "Lower cost than foam in just 12 months"
    },
    {
      "type": "text",
      "id": "button1_text",
      "label": "Button 1 Text",
      "default": "SCHEDULE A CONSULTATION"
    },
    {
      "type": "url",
      "id": "button1_url",
      "label": "Button 1 Url"
    },
    {
      "type": "text",
      "id": "button2_text",
      "label": "Button 2 Text",
      "default": "LEARN MORE ABOUT OUR TECHNOLOGY"
    },
    {
      "type": "url",
      "id": "button2_url",
      "label": "Button 2 Url"
    }
  ],

  "blocks": [],
  "presets": [
    {
      "name": "Future Proof",
      "category": "3D Scanner cards"
    }
  ]
}
{% endschema %}
