<section
  class=" py-20 text-center scroll-trigger animate--slide-in card2 text-white object-cover"
  style="
          background: rgba(0, 0, 0, 7.24);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.68) 2%, rgba(0, 0, 0, 0.65) 53%, rgba(0, 0, 0, 0.68) 98%);
  "
>
  <!-- Section Title -->
  <div class="max-w-[1100px] mx-auto">
    <div class="mx-auto pb-16 px-8">
      <p class="lg:text-[48px]/20 text-[36px]/15 font-extrabold uppercase">{{ section.settings.card_title }}</p>
      <p
        class="text-[32px]/20 text-gray-300 font-semibold mt-2 tracking-wide uppercase"
        style="color:{{section.settings.tertiary_color }}"
      >
        {{ section.settings.card_sub_title }}
      </p>
      <p
        class="text-[22px] tracking-wide"
        style="color:{{section.settings.primary_color }}"
      >
        {{ section.settings.text }}
      </p>
    </div>

    <!-- Cards -->
    <div class="w-full flex items-center px-12 md:px-4 mb-10">
      <div class="app-card-2-grid gap-10 w-full mx-auto px-4">
        {% for block in section.blocks %}
          {% if block.type == 'card' %}
            <div class="text-center relative">
              <div class="absolute -top-6 -left-6 font-sans size-18 bg-[#7b1024] rounded-full flex items-center justify-center">
                <span class="cta-tactical text-signal-white text-[20px] font-bold">{{ block.settings.badge }}</span>
              </div>
              <div class="bg-black/55 p-8 rounded-[8px] border-2" style="border-color: rgb(108, 104, 70);">
                {% if block.settings.image %}
                  <div class="pb-4">
                    <img
                      src="{{ block.settings.image | image_url  }}"
                      alt="{{ block.settings.title }}"
                      class="w-full h-20 object-contain rounded-[4px] mb-4"
                      width="50"
                      height="50"
                    >
                  </div>
                {% endif %}
                <h3 class="subheading-tactical font-semibold text-white text-[20px] uppercase mb-4">
                  {{ block.settings.title }}
                </h3>
                <p class="body-tactical text-white font-thin text-[14px]">
                  {{ block.settings.text }}
                </p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% if section.settings.button_text != blank %}
      <div class="w-full flex justify-center pt-6">
        {% if section.settings.button_style == 'outline' %}
          <a
            href="{{ section.settings.button_url }}"
            class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-[4px] font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 px-10 uppercase py-1 btn-hero-cta text-white bg-black hover:bg-scarlet-red text-[16px] transition-all duration-300"
          >
            {{ section.settings.button_text }}
          </a>
        {% else %}
          <a
            href="{{ section.settings.button_url }}"
            class="text-white px-4 py-2 text-4xl transition-transform duration-150 hover:-translate-y-0.5"
            style="background-color:{{ section.settings.primary_color }}"
          >
            {{ section.settings.button_text }}
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</section>

<style>
  .card2 {
    background-color: {{section.settings.background_color}};
  }

  .app-card-2-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 640px) {
    .app-card-2-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 768px) {
    .app-card-2-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>

{% schema %}
{
  "name": "Three Cols Card (Badge)",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "card_title",
      "label": "Card Title",
      "default": "Card Title"
    },
    {
      "type": "text",
      "id": "card_sub_title",
      "label": "Card Sub Title",
      "default": "Card Sub Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Card Text",
      "default": "Card Text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "See More"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "options": [
        {
          "value": "fill",
          "label": "Filled"
        },
        {
          "value": "outline",
          "label": "Outline"
        }
      ],
      "default": "outline"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#262626"
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary Color",
      "default": "#AFA38E"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary Color",
      "default": "#7B0F23"
    },
    {
      "type": "color",
      "id": "tertiary_color",
      "label": "tertiary Color",
      "default": "#695e49"
    }
  ],

  "blocks": [
    {
      "type": "card",
      "name": "card",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Card Title",
          "default": "Sample Card Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Card text",
          "default": "This is the description for this card."
        },
        {
          "type": "text",
          "id": "badge",
          "label": "Card Badge",
          "default": "1"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Card Icon"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#0d0d0d"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Three Cols Card (Badge)",
      "category": "Custom"
    }
  ]
}
{% endschema %}
