<section
  class="relative page-banner bg-cover bg-center text-white mt-20 page-card"
  style="min-height: {{ section.settings.banner_height }}px;"
>
  <div
    class="bg-black/70 flex items-center justify-center px-6 text-center"
    style="min-height: {{ section.settings.banner_height }}px;"
  >
    <div class="max-w-7xl space-y-6">
      <p class="md:text-[72px]/20 text-[40px]/20 font-bold leading-tight">
        {{ section.settings.btitle }}
      </p>
      <p class="md:text-[48px]/20 text-[40px]/20 font-bold leading-tight">
        {{ section.settings.title }}
      </p>
      <p class="md:text-[40px]/20 text-[35px]/20 font-bold leading-tight">
        {{ section.settings.sub_title }}
      </p>
      <p class="md:text-[48px]/20 text-[#9d9580] text-[40px]/20 font-bold leading-tight">
        {{ section.settings.ctitle }}
      </p>
      {% if section.settings.text != blank %}
        <p class="text-4xl">{{ section.settings.text }}</p>
      {% endif %}
      {% if section.settings.ctext != blank %}
        <p class="text-4xl text-[#afa38e]">{{ section.settings.ctext }}</p>
      {% endif %}
      <div class="flex gap-4 w-full justify-center items-center mx-auto">
        {% for block in section.blocks %}
          {% render 'button',
            secondary_color: section.settings.secondary_color,
            primary_color: section.settings.primary_color,
            button_text: block.settings.button_text,
            button_url: block.settings.button_url,
            type: block.settings.button_type,
            showArrow: block.settings.show_arrow
          %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{{ page.content }}

<style>
  .page-banner {
    background-image: url('{{ section.settings.background_image | image_url: width: 1600 }}');
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: 640px) {
      background-size: 130%;
    }
  }
</style>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "banner_height",
      "label": "Section Height",
      "options": [
        { "label": "Small", "value": "300" },
        { "label": "Medium", "value": "440" },
        { "label": "Large", "value": "640" },
        { "label": "Extra Large", "value": "800" }
      ],
      "default": "440"
    },
    {
      "type": "text",
      "id": "btitle",
      "label": "Bigger Banner Title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Banner Title",
      "default": "Banner Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Banner Sub Title",
    },
    {
      "type": "text",
      "id": "ctitle",
      "label": "Coloured Banner Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Banner Text"
    },
    {
      "type": "text",
      "id": "ctext",
      "label": "Colored Banner Text"
    },

    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary Color",
      "default": "#B6AC87"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary Color",
      "default": "#7B0F23"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Banner Background Image"
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button  Text",
          "default": "Button  Text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Url"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Button Type",
          "options": [
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "fill",
              "label": "Fill"
            },
            {
              "value": "secondary_fill",
              "label": "Secondary Fill"
            },
            {
              "value": "secondary_outline",
              "label": "Secondary Outline"
            }
          ],
          "default": "fill"
        },
        {
          "type": "checkbox",
          "id": "show_arrow",
          "label": "Show Arrow",
          "default": false
        }
      ]
    }
  ]
}
{% endschema %}
