<section
  class="py-20 scroll-trigger animate--slide-in bg-black transition-all duration-1000 delay-300 opacity-100 translate-y-0"
>
  <div class="mx-auto px-4">
    <div class="max-w-[1100px] mx-auto">
      <p class="text-5xl font-bold text-white text-center mb-16 uppercase">{{ section.settings.title }}</p>
      <div
        class="app-card-19-grid"
      >
        <div
          class="flex items-start space-x-4 transition-all duration-500 delay-500 opacity-100 translate-y-0"
        >
          <div
            class="size-10 bg-[#827867] rounded-lg flex items-center justify-center flex-shrink-0 mt-1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-circle-check-big size-6 text-white"
            >
              <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
              <path d="m9 11 3 3L22 4"></path>
            </svg>
          </div>
          <p class="text-[#afa38e] font-medium leading-relaxed">{{ section.settings.text1 }}</p>
        </div>
        <div
          class="flex items-start space-x-4 transition-all duration-500 delay-600 opacity-100 translate-y-0"
        >
          <div
            class="size-10 bg-[#827867] rounded-lg flex items-center justify-center flex-shrink-0 mt-1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-zap size-6 text-white"
            >
              <path
                d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"
              ></path>
            </svg>
          </div>
          <p class="text-[#afa38e] font-medium leading-relaxed">{{ section.settings.text2 }}</p>
        </div>
        <div
          class="flex items-start space-x-4 transition-all duration-500 delay-700 opacity-100 translate-y-0"
        >
          <div
            class="size-10 bg-[#827867] rounded-lg flex items-center justify-center flex-shrink-0 mt-1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-brain size-6 text-white"
            >
              <path
                d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z"
              ></path>
              <path
                d="M12 5a3 3 0 1 1 5.997.125 4 4 0 0 1 2.526 5.77 4 4 0 0 1-.556 6.588A4 4 0 1 1 12 18Z"
              ></path>
              <path
                d="M15 13a4.5 4.5 0 0 1-3-4 4.5 4.5 0 0 1-3 4"
              ></path>
              <path d="M17.599 6.5a3 3 0 0 0 .399-1.375"></path>
              <path d="M6.003 5.125A3 3 0 0 0 6.401 6.5"></path>
              <path d="M3.477 10.896a4 4 0 0 1 .585-.396"></path>
              <path d="M19.938 10.5a4 4 0 0 1 .585.396"></path>
              <path d="M6 18a4 4 0 0 1-1.967-.516"></path>
              <path d="M19.967 17.484A4 4 0 0 1 18 18"></path>
            </svg>
          </div>
          <p class="text-[#afa38e] font-medium leading-relaxed">{{ section.settings.text3 }}</p>
        </div>
        <div
          class="flex items-start space-x-4 transition-all duration-500 delay-800 opacity-100 translate-y-0"
        >
          <div
            class="size-10 bg-[#827867] rounded-lg flex items-center justify-center flex-shrink-0 mt-1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-headphones size-6 text-white"
            >
              <path
                d="M3 14h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-7a9 9 0 0 1 18 0v7a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3"
              ></path>
            </svg>
          </div>
          <p class="text-[#afa38e] font-medium leading-relaxed">{{ section.settings.text4 }}</p>
        </div>
        <div
          class="flex items-start space-x-4 transition-all duration-500 delay-900 opacity-100 translate-y-0"
        >
          <div
            class="size-10 bg-[#827867] rounded-lg flex items-center justify-center flex-shrink-0 mt-1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-database size-6 text-white"
            >
              <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
              <path d="M3 5V19A9 3 0 0 0 21 19V5"></path>
              <path d="M3 12A9 3 0 0 0 21 12"></path>
            </svg>
          </div>
          <p class="text-[#afa38e] font-medium leading-relaxed">{{ section.settings.text5 }}</p>
        </div>
        <div
          class="flex items-start space-x-4 transition-all duration-500 delay-1000 opacity-100 translate-y-0"
        >
          <div
            class="size-10 bg-[#827867] rounded-lg flex items-center justify-center flex-shrink-0 mt-1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-shield size-6 text-white"
            >
              <path
                d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"
              ></path>
            </svg>
          </div>
          <p class="text-[#afa38e] font-medium leading-relaxed">{{ section.settings.text6 }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .app-card-19-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 640px) {
    .app-card-19-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 768px) {
    .app-card-19-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>

{% schema %}
{
  "name": "Platforms",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Default Title"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text 1",
      "default": "Text 1"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text 2",
      "default": "Text 2"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Text 3",
      "default": "Text 3"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "Text 4",
      "default": "Text 4"
    },
    {
      "type": "text",
      "id": "text5",
      "label": "Text 5",
      "default": "Text 5"
    },
    {
      "type": "text",
      "id": "text6",
      "label": "Text 6",
      "default": "Text 6"
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary Color",
      "default": "#AFA38E"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary Color",
      "default": "#7B0F23"
    },
    {
      "type": "color",
      "id": "tertiary_color",
      "label": "tertiary Color",
      "default": "#695e49"
    }
  ],

  "blocks": [
    {
      "type": "card",
      "name": "card",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Card Title",
          "default": "Sample Card Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Card text",
          "default": "This is the description for this card."
        },
        {
          "type": "text",
          "id": "badge",
          "label": "Card Badge",
          "default": "1"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Card Icon"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#0d0d0d"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Platforms",
      "category": "Technology Cards"
    }
  ]
}
{% endschema %}
