<section
  class=" py-20text-center text-white object-cover"
  style="
          background: rgba(0, 0, 0, 7.24);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 2%, rgba(0, 0, 0, 0.70) 53%, rgba(0, 0, 0, 0.73) 98%);
  "
>
  <div class="mx-auto px-4  transition-all scroll-trigger animate--slide-in duration-1000 delay-200">
    <div class="max-w-[950px] mx-auto">
      <h2 class="text-[36px]/15 md:text-[48px]/20 font-bold text-olive-drab text-center mb-16">
        {{ section.settings.card_title }}
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {% for block in section.blocks %}
          {% if block.type == 'card' %}
            <div class="border text-card-foreground shadow-sm bg-desert-tan/10 border-desert-tan/30 rounded-[12px] overflow-hidden">
              <div class="p-8 text-center flex flex-col justify-between h-full space-y-6">
                <div class="size-20 bg-olive-drab rounded-[8px] mx-auto flex items-center justify-center">
                  {% if block.settings.image %}
                    <img
                      src="{{ block.settings.image | image_url  }}"
                      alt="{{ block.settings.title }}"
                      class="size-10 object-contain rounded-[4px]"
                      width="32"
                      height="32"
                    >
                  {% endif %}
                </div>
                <div class="space-y-6">
                  <h3 class="text-[24px] font-bold text-olive-drab">{{ block.settings.title }}</h3>
                  <p class="text-signal-white text-[16px] leading-relaxed">
                    {{ block.settings.text }}
                  </p>
                </div>
                <div class="mt-8">
                  <a href="{{ block.settings.button_url }}"
                    ><button class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-[6px] ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 bg-primary text-primary-foreground hover:bg-primary/90 px-10 btn-scarlet w-full text-[16px] py-1 font-semibold uppercase tracking-wide">
                      {{ block.settings.button_text }}
                    </button></a
                  >
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<style>
  .card-7-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 640px) {
    .card-7-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  }
</style>

{% schema %}
{
  "name": "Two Cols Card No Image",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "card_title",
      "label": "Card Title",
      "default": "Card Title"
    },
    {
      "type": "text",
      "id": "card_sub_title",
      "label": "Card Sub Title",
      "default": "Card Sub Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Card Text",
      "default": "Card Text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "See More"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "options": [
        {
          "value": "fill",
          "label": "Filled"
        },
        {
          "value": "outline",
          "label": "Outline"
        }
      ],
      "default": "outline"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#0d0d0d"
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary Color",
      "default": "#AFA38E"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary Color",
      "default": "#7B0F23"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ],

  "blocks": [
    {
      "type": "card",
      "name": "card",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Card Title",
          "default": "Sample Card Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Card text",
          "default": "This is the description for this card."
        },
        {
          "type": "text",
          "id": "badge",
          "label": "Card Badge",
          "default": "1"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Click me"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Url"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Card Icon"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#0d0d0d"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two Cols Card No Image",
      "category": "Custom"
    }
  ]
}
{% endschema %}
